@import "css_rwd_common.css";
@media (max-width: 1199px) {
  :root {
    font-size: 14px;
  }
  .openList {
    display: block;
    width: 2.5rem;
    margin-left: 0.9375rem;
  }
  .openList hr {
    -moz-transition: 0.5s all ease-in-out;
    background: #333;
    border: 1px solid #333;
    transition: 0.5s all ease-in-out;
    z-index: 98;
    opacity: 1;
    margin: 0.625rem 0;
  }
  .openList hr:first-child {
    margin-top: 0;
  }
  .openList hr:last-child {
    margin-bottom: 0;
  }
  .openList.ac {
    position: relative;
    z-index: 21;
  }
  .openList.ac hr:nth-child(2) {
    opacity: 0;
  }
  .openList.ac hr:nth-child(1) {
    background: #fff;
    border-color: #fff;
    transform: rotate(135deg) translateX(2px) translateY(-8px);
  }
  .openList.ac hr:nth-child(3) {
    background: #fff;
    border-color: #fff;
    transform: rotate(-135deg) translateX(6px) translateY(12px);
  }
  .wrp {
    max-width: calc(100vw - 2.5rem);
  }
  .wrp .wrp {
    width: 100%;
  }
  header:after {
    display: none;
  }
  header .bgHead {
    display: none;
  }
  header .wrp {
    transform: none;
    position: relative;
    left: 0;
  }
  header .wrp .top {
    width: 100%;
    position: static;
  }
  header .wrp .top .logo .icon svg {
    width: 5.625rem;
    height: 5.625rem;
  }
  header .wrp .top .right .language svg path {
    fill: #333;
  }
  header .wrp #menu {
    overflow: auto;
    transform: none !important;
    opacity: 1 !important;
    position: fixed;
    width: 80vw;
    height: 100vh;
    z-index: 25;
    padding: 0;
    background: #2873aa;
    color: #333;
    top: 0;
    left: -100%;
    font-size: 1.25rem;
    text-transform: uppercase;
    pointer-events: all !important;
  }
  header .wrp #menu ul {
    z-index: 21;
    transition: 0.3s all ease-in-out;
    display: block;
    padding: 1.25rem 0;
  }
  header .wrp #menu ul .openSub {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    font-size: 1.25rem;
  }
  header .wrp #menu ul .openSub.ac i:before {
    content: "\f106";
  }
  header .wrp #menu ul li {
    display: flex;
    padding: 0 1.25rem 0 1.25rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  header .wrp #menu ul li.active {
    background: #2873aa !important;
    color: #fff !important;
  }
  header .wrp #menu ul li a {
    background: transparent !important;
    display: block;
    display: flex;
    padding: 0.9375rem 1.375rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-right: none;
    flex: 1;
  }
  header .wrp #menu ul li a:not(.btnSearch) svg {
    display: none;
  }
  header .wrp #menu ul li a:after {
    display: none;
  }
  header .wrp #menu ul li a span.icon {
    width: 1.5625rem;
    display: inline-block;
    margin: 0;
    margin-right: 0.625rem;
  }
  header .wrp #menu ul li a span.icon img {
    display: block;
    margin: auto;
  }
  header .wrp #menu ul li:hover > ul {
    display: none;
  }
  header .wrp #menu ul li:hover > a {
    background: transparent;
    color: #fff;
  }
  header .wrp #menu ul li ul {
    border: none !important;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    padding: 0 !important;
    padding-left: 1.25rem;
    transition: none;
    height: auto;
    display: none;
    width: 100%;
    position: static;
    background: transparent;
  }
  header .wrp #menu ul li ul li a {
    padding: 0.9375rem 0.625rem;
    white-space: normal;
    font-size: 1.1875rem;
  }
  header .wrp #menu ul li ul li a > i {
    display: none;
  }
  header .wrp #menu ul li .toggleSearch {
    display: none;
  }
  header .wrp #menu.ac {
    left: 0;
  }
  header .wrp #menu .searchForm {
    margin-top: 0.625rem;
    width: 100%;
  }
  header .wrp #menu .searchForm .btnSearch {
    flex: none;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
  }
  #containHome .wrp .colLeft {
    width: 70%;
  }
  #containHome .wrp .colRight {
    width: 27%;
  }
}
@media (max-width: 991px) {
  header .right {
    gap: 0rem;
  }
  header .right .searchForm {
    display: none;
  }
  #newsHot.inside .wrp .left {
    width: 56%;
  }
  #newsHot.inside .wrp .left .main .info {
    position: static;
  }
  #newsHot.inside .wrp .right {
    flex: 1;
    padding-left: 1.25rem;
  }
  #newsHot.inside .wrp .right .info a {
    padding-top: 0.625rem;
  }
  #newsHot.inside .wrp .right .info a:first-child {
    padding-top: 0;
    border: none;
  }
  #containHome .wrp .colLeft {
    width: 67%;
  }
  #containHome .wrp .colRight {
    width: 30%;
  }
  #documentHome.home {
    flex-direction: column;
  }
  #documentHome.home .parent {
    width: 100%;
  }
  #contact.home .content .statistical li .text {
    white-space: nowrap;
  }
  footer .wrp .listInfo {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .wrp {
    max-width: calc(100vw - 1.25rem);
  }
  .commonTitle {
    font-size: 1rem;
  }
  .commonTitle .xtc {
    display: none;
  }
  #contact.home {
    padding: 1.5625rem 0.625rem;
  }
  #contact.home .content {
    width: 100%;
  }
  #contact.home .content .statistical {
    flex-direction: column;
    gap: 0.625rem;
  }
}
@media (max-width: 479px) {
  #newsHot.inside .wrp {
    flex-direction: column;
  }
  #newsHot.inside .wrp .left {
    width: 100%;
  }
  #newsHot.inside .wrp .right {
    width: 100%;
    padding-left: 0rem;
    margin-top: 1.25rem;
  }
  #containHome .wrp {
    flex-direction: column;
  }
  #containHome .wrp .colLeft {
    width: 100%;
  }
  #containHome .wrp .colRight {
    width: 100%;
    margin-top: 1.25rem;
  }
  #containHome .wrp .colLeft .bannerTop {
    flex-direction: column;
  }
  #containHome .wrp .colLeft .bannerTop .commonBanner {
    width: 100%;
  }
  #newsHome .parent {
    margin-bottom: 1.25rem;
  }
  #newsHome .parent .group .main {
    flex-direction: column;
  }
  #newsHome .parent .group .main .wImage {
    width: 100%;
  }
  #newsHome .parent .group .main .info {
    width: 100%;
    padding: 0;
    margin-top: 0.625rem;
  }
  #galleryHome .parent {
    flex-direction: column;
  }
  #galleryHome .parent .videoHome {
    width: 100%;
  }
  #galleryHome .parent .imageHome {
    width: 100%;
    margin-top: 0.9375rem;
  }
}/*# sourceMappingURL=css_rwd.css.map */