@import "common.scss";
@import "display.scss";
@charset "UTF-8";

:root {
  font-size: 16px;
  --widthWrp: #{ptr(1200)};
}
* {
  box-sizing: border-box;
}
body {
  color: #313131;
  font-family: "Inter", sans-serif;
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  font-size: ptr(16);
  line-height: ptr(24);
  background: #f7f7f7;
  &.fullScreen {
    overflow: hidden;
  }
}
.wrp {
  margin: auto;
  width: var(--widthWrp);
  max-width: 100%;
}
.commonBanner {
  display: block;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}
img {
  transition: 0.3s all ease-in-out;
}
.noidung {
  padding: 0;
  a {
    &:hover {
      color: $color-hover !important;
    }
  }
}
.openSub {
  display: none;
}
.openList {
  display: none;
}
.name {
  &:hover {
    color: $color-hover;
  }
}
.commonTitle {
  display: flex;
  justify-content: space-between;
  min-height: ptr(40);
  background: #fff;
  border-left: ptr(8) #2873aa solid;
  border-radius: 4px;
  font-weight: 700;
  font-size: ptr(20);
  line-height: ptr(24);
  padding: 0 ptr(20);
  align-items: center;
  text-transform: uppercase;
  color: #2873aa;
  margin-bottom: ptr(7);
  background: rgba(19, 99, 185, 0.1);
  &:hover {
    color: #2873aa;
  }
  .xtc {
    font-weight: normal;
    text-transform: none;
    font-size: ptr(16);
    font-style: italic;
    &:hover {
      color: #333;
    }
  }
}
header {
  z-index: 10;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #f7fbff 0%,
      rgba(198, 214, 232, 0.802413) 27.6%,
      rgba(7, 72, 142, 0.03) 97.16%,
      rgba(0, 67, 139, 0.19) 100%,
      rgba(0, 67, 139, 0.19) 100%
    );
    z-index: 5;
    pointer-events: none;
  }
  position: relative;
  .bgHead {
    width: 100%;
    pointer-events: none;
    &:before {
      padding-bottom: wImage(409, 1440);
    }
  }
  .wrp {
    z-index: 6;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        // background: linear-gradient(88.33deg, #015ea2 1%, #5db0ec 99.21%);
        display: flex;
        padding: ptr(10) ptr(20);
        border-radius: 0 0 ptr(20) ptr(20);
        align-items: center;
        .text {
          padding-left: ptr(20);
          display: flex;
          flex-direction: column;
          color: #004577;
          text-transform: uppercase;
          font-weight: 600;
          span:first-child {
            font-size: ptr(22);
            margin-bottom: ptr(8);
          }
          span:last-child {
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: ptr(25);
        .language {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-left: ptr(10);
          li {
            position: relative;
            display: flex;
            align-items: center;
            gap: ptr(10);
            img {
              max-width: ptr(48);
            }
            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              position: absolute;
              top: 100%;
              display: none;
              li {
                margin: 3px 0;
              }
            }
            &:hover {
              > ul {
                display: block;
              }
            }
          }
        }
      }
    }
    .searchForm {
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: ptr(20);
      overflow: hidden;
      width: ptr(336);
      .inputSearch {
        flex: 1;
        border: none;
        outline: none;
        padding: 0 ptr(15);
        font-size: ptr(14);
      }
      .btnSearch {
        width: ptr(30);
        height: ptr(30);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    #menu {
      background: rgba(40, 115, 170, 0.8);
      border-radius: ptr(20) ptr(20) 0 0;
      padding: 0 ptr(20);
      transition: 0.3s all ease-in-out;
      &:hover {
        background: #2873aa;
      }
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        color: #fff;
        min-height: ptr(50);
        li {
          flex: auto;
          font-weight: 600;
          line-height: ptr(19);
          position: relative;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            svg {
              margin-left: ptr(5);
            }
            &:hover {
              color: yellow;
              > svg path {
                stroke: yellow;
              }
            }
          }
          &:hover {
            > ul {
              display: block;
            }
          }
          ul {
            border-top: 2px solid #fff;
            display: none;
            position: absolute;
            top: 100%;
            background: #2873aa;
            min-width: ptr(250);
            li {
              a {
                display: block;
                font-size: ptr(15);
                padding: ptr(7) ptr(15);
              }
            }
            ul {
              top: -2px;
              left: 100%;
              border-left: 2px solid #fff;
            }
          }
        }
      }
    }
  }
}
#newsHot {
  background: url(../pic/bgNewHot.png) center no-repeat, #e9f0fa;
  position: relative;
  padding-bottom: ptr(20);
  margin-bottom: ptr(25);
  .marquee {
    padding-bottom: ptr(20);
    padding-top: ptr(10);
    overflow: hidden;
    a {
      margin-right: ptr(20);
      display: inline-block;
      &:hover {
        color: $color-hover;
      }
    }
    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
  .commonTitle {
    background: #fff;
  }
  .wrp {
    display: flex;
    justify-content: space-between;
    .left {
      width: percent(770);
      .main {
        position: relative;
        .wImage {
          &:before {
            padding-bottom: wImage(353, 770);
          }
        }
        .info {
          pointer-events: none;
          position: absolute;
          width: 100%;
          z-index: 5;
          left: 0;
          bottom: 0;
          background: rgba(40, 115, 170, 0.9);
          transition: 0.3s all ease-in-out;
          color: #fff;
          padding: ptr(10) ptr(20);
          &:hover {
            background: rgba(40, 115, 170, 1);
          }
          .name {
            font-weight: 700;
            font-size: ptr(18);
            line-height: ptr(27);
            display: block;
            margin-bottom: ptr(5);
            &:hover {
              color: #fff;
            }
          }
          .des {
            text-align: justify;
          }
        }
      }
      .list {
        margin: 0;
        padding: 0 ptr(20);
        background: #fff;
        list-style: none;
        li a {
          display: flex;
          font-weight: 600;
          border-bottom: 1px solid rgba(40, 115, 170, 0.2);
          padding: ptr(10) 0;
          gap: ptr(10);
          > span {
            flex: 1;
          }
          &:hover {
            color: $color-hover;
            svg path {
              stroke: $color-hover;
            }
          }
        }
      }
    }
    .right {
      width: percent(370);
      .main {
        position: relative;
        .wImage {
          &:before {
            padding-bottom: wImage(352, 370);
          }
        }
        .text {
          pointer-events: none;
          position: absolute;
          width: 100%;
          z-index: 5;
          left: 0;
          bottom: 0;
          background: rgba(40, 115, 170, 0.9);
          transition: 0.3s all ease-in-out;
          color: #fff;
          padding: ptr(10) ptr(20);
          text-align: center;
        }
      }
      .info {
        background: #fff;
        padding: ptr(13) ptr(20) ptr(20) ptr(20);
        > a {
          padding-top: ptr(15);
          display: flex;
          align-items: center;
          .icon {
            margin-right: ptr(10);
            width: ptr(36);
            height: ptr(36);
            border-radius: 50%;
            background: rgba(40, 115, 170, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:first-child {
            border-top: 1px solid rgba(40, 115, 170, 0.2);
          }
          &:hover {
            color: $color-hover;
          }
        }
      }
    }
  }
  &.inside {
    .wrp {
      .left {
        .main .wImage::before {
          padding-bottom: wImage(490, 770);
        }
      }
    }
  }
}
#containHome {
  margin-top: ptr(20);
  .wrp {
    display: flex;
    justify-content: space-between;
    .colLeft {
      width: 72%;
      .bannerTop {
        display: flex;
        justify-content: space-between;
        gap: ptr(30);
        margin-bottom: ptr(20);
        flex-wrap: wrap;
        > a {
          width: calc((100% - #{ptr(30)}) / 2);
        }
      }
    }
    .colRight {
      width: 26%;
      .videoHome {
        @extend %videoHome;
        margin-bottom: ptr(25);
      }
      #linkImage {
        margin-bottom: ptr(20);
        .group {
          display: flex;
          flex-direction: column;
          gap: ptr(15);
        }
      }
      #map {
        .iFrame {
          width: 100%;
          height: ptr(280);
          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
#newsHome {
  .parent {
    margin-bottom: ptr(20);
    .group {
      .main {
        display: flex;
        justify-content: space-between;
        margin-bottom: ptr(25);
        align-items: flex-start;
        .wImage {
          width: percent(371, 770);
          &:before {
            padding-bottom: wImage(247, 371);
          }
          .date {
            position: absolute;
            bottom: ptr(10);
            right: ptr(10);
            display: flex;
            align-items: center;
            gap: ptr(10);
            font-style: italic;
            border-radius: 4px;
            padding: ptr(7) ptr(10);
            color: rgba(25, 46, 89, 1);
            background: rgba(231, 242, 250, 0.4);
            backdrop-filter: blur(10px);
          }
        }
        .info {
          flex: 1;
          padding-left: ptr(30);
          .name {
            display: block;
            font-weight: 700;
            margin-bottom: ptr(10);
          }
        }
      }
      .list {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          width: 100%;
          background: #fff;
          padding: ptr(8) ptr(15);
          &:last-child {
            a {
              border: none;
            }
          }
          a {
            display: flex;
            flex-direction: column;
            gap: ptr(5);
            font-weight: 600;
            border-bottom: 1px solid rgba(40, 115, 170, 0.2);
            padding-bottom: ptr(7);
            span.date {
              display: flex;
              align-items: center;
              color: $color-hover;
              font-style: italic;
              gap: ptr(10);
              font-size: ptr(12);
              font-weight: 400;
              span {
                display: flex;
                align-items: center;
                gap: ptr(7);
              }
            }
            &:hover {
              color: $color-hover;
            }
          }
        }
      }
    }
  }
}
#documentHome {
  &.home {
    display: flex;
    flex-wrap: wrap;
    gap: ptr(30);
    .parent {
      width: calc((100% - #{ptr(30)}) / 2);
      .commonTitle {
        padding: 0 ptr(10);
      }
      .tableDoc {
        padding: 0;
        table {
          font-size: ptr(14);
          thead {
            background: #dfdfdf;
            th {
              padding: ptr(10) ptr(0);
            }
          }
          tr {
            td,
            th {
              padding: ptr(10);
              &:nth-child(1) {
                width: ptr(100);
              }
              &:nth-child(2) {
                width: ptr(130);
              }
              &:nth-child(3) {
              }
            }
          }
        }
      }
    }
  }
  .parent {
    margin-bottom: ptr(20);
    .tableDoc {
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(36, 65, 131, 0.1);
      padding: ptr(10) ptr(15);
      table {
        table-layout: fixed;
        tr {
          &:not(:last-child) {
            border-bottom: 1px dashed rgba(40, 115, 170, 0.2);
          }
          cursor: pointer;
          &:hover {
            td {
              color: $color-hover;
            }
          }
          td,
          th {
            padding: ptr(10);
            &:nth-child(1) {
              width: ptr(180);
            }
            &:nth-child(2) {
              width: ptr(200);
            }
            &:nth-child(3) {
            }
          }
        }
      }
    }
  }
  &.inside {
    padding-top: ptr(27);
    .wrp {
      display: flex;
      justify-content: space-between;
      .colLeft {
        width: percent(370);
      }
      .colRight {
        width: percent(770);
        .parent {
          margin-bottom: 0;
          .pagging {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .detailDoc {
    .tableDetail {
      margin: ptr(10) 0 ptr(20) 0;
      .title {
        background: rgba(30, 47, 65, 0.1);
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 ptr(15);
        line-height: ptr(40);
      }
      .content {
        background: #fff;
        box-shadow: 0px 0px 10px rgba(36, 65, 131, 0.1);
        .rowDT {
          padding: ptr(10) ptr(15);
          display: flex;
          align-items: center;
          .col1 {
            font-weight: 600;
            width: ptr(245);
          }
          .col2 {
            font-weight: 500;
            flex: 1;
          }
          &:nth-child(2n) {
            background: rgba(245, 245, 245, 0.5);
          }
        }
      }
    }
  }
  .iframe {
    margin-bottom: ptr(20);
    .title {
      background: rgba(30, 47, 65, 0.1);
      text-transform: uppercase;
      font-weight: 700;
      padding: 0 ptr(15);
      line-height: ptr(40);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: ptr(10);
      .tool {
        display: flex;
        gap: ptr(20);
        align-items: center;
      }
    }
    .toggleFullScreen {
      i {
        display: none;
      }
      svg {
        display: block;
      }
    }
    iframe {
      width: 100% !important;
      height: ptr(500);
    }
    &.fullScreen {
      background: #fff;
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .toggleFullScreen {
        i {
          display: block;
          font-size: ptr(20);
          color: #0767b1;
        }
        svg {
          display: none;
        }
      }
      iframe {
        height: 100%;
      }
    }
  }
}
#galleryHome {
  .parent {
    display: flex;
    justify-content: space-between;
    .videoHome {
      @extend %videoHome;
      width: percent(370, 730);
    }
    .imageHome {
      width: percent(335, 730);
      .group {
        display: flex;
        flex-direction: column;
        gap: ptr(20);
        .wImage {
          &:before {
            padding-bottom: wImage(120, 170);
          }
        }
      }
    }
  }
}
#contact {
  &.home {
    margin-top: ptr(50);
    background: url(../pic/bgContact.png) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ptr(37) ptr(50);
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 67, 139, 0.53) 0%,
        rgba(0, 67, 139, 0) 181.31%
      );
      z-index: 2;
      pointer-events: none;
      display: block;
    }
    .content {
      padding: ptr(25) ptr(40);
      position: relative;
      z-index: 3;
      background: rgba(255, 255, 255, 0.17);
      backdrop-filter: blur(25px);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: var(--widthWrp);
      .title {
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: ptr(20);
        line-height: ptr(30);
        text-align: center;
      }
      #formContact {
        margin: ptr(20) 0;
        background: #ffffff;
        border: 1px solid #dddfe3;
        border-radius: 8px;
        width: ptr(430);
        display: flex;
        max-width: 100%;
        overflow: hidden;
        .inputContact {
          flex: 1;
          border: none;
          outline: none;
          height: ptr(40);
          padding: 0 ptr(15);
        }
        .btnContact {
          height: ptr(40);
          width: ptr(60);
          background: rgba(18, 103, 194, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: rgba(18, 103, 194, 0.8);
          }
        }
      }
      .statistical {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        color: #fff;
        gap: ptr(60);
        li {
          display: flex;
          align-items: center;
          .text {
            margin-left: ptr(20);
            display: flex;
            flex-direction: column;
            font-weight: 600;
            span:last-child {
              margin-top: ptr(3);
              font-weight: 700;
              font-size: ptr(24);
              line-height: ptr(29);
            }
          }
        }
      }
    }
  }
}

footer {
  background: #2873aa;
  padding: ptr(40) 0;
  .wrp {
    .logo {
      margin-bottom: ptr(40);
      display: flex;
      align-items: center;
      color: #fff;
      .text {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin-left: ptr(20);
        font-weight: 600;
        font-size: ptr(18);
        line-height: ptr(27);
      }
    }
    .listInfo {
      display: flex;
      flex-wrap: wrap;
      gap: ptr(20);
      justify-content: space-between;
      ul {
        color: #fff;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: ptr(20);
        li {
          display: flex;
          align-items: center;
          .icon {
            width: ptr(42);
          }
          .text {
            flex: 1;
            margin-left: ptr(20);
            display: flex;
            flex-direction: column;
            line-height: ptr(25);
          }
        }
      }
    }
  }
}

#commonFoot {
  font-family: "Nunito Sans", sans-serif;
  background: url(../pic/bgFoot.png);
  padding: ptr(10);
  font-weight: 400;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: ptr(5);
}

#news {
  .group {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: ptr(14);
    .item {
      padding-bottom: ptr(12);
      margin-bottom: ptr(12);
      border-bottom: 1px solid rgba(40, 115, 170, 0.2);
      &:last-child {
        border-bottom: none;
      }
      .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .wImage {
          border: 1px solid #cfdde9;
          border-radius: 10px;
          width: ptr(70);
          margin-right: ptr(13);
          &:before {
            padding-bottom: wImage(71, 90);
          }
        }
        .info {
          flex: 1;
          .name {
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.1px;
            color: #2873aa;
            display: block;
            margin-bottom: ptr(7);
          }
          .date {
            font-size: ptr(14);
            display: flex;
            align-items: center;
            gap: ptr(10);
            font-style: italic;
          }
        }
      }
      .des {
        margin-top: ptr(10);
      }
    }
  }
}

.pagging {
  margin-top: ptr(20);
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
  gap: ptr(8);
  li {
    width: ptr(32);
    height: ptr(32);
    a {
      display: flex;
      border-radius: 4px;
      background: #d6e3ed;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: ptr(14);
      &.active,
      &:hover {
        background: #2873aa;
        color: #fff;
        svg path {
          stroke: #fff;
        }
      }
    }
  }
}
#pathWay {
  margin-bottom: ptr(5);
  a {
    font-size: ptr(14);
    line-height: ptr(24);
    color: #2873aa;
    font-style: italic;
    display: inline-flex;
    align-items: center;
    &:not(:last-child)::after {
      content: ">>";
      margin-left: ptr(5);
    }
  }
}
#newsDetail {
  .contentMain {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(36, 65, 131, 0.1);
    padding: 0 ptr(20);
    margin-bottom: ptr(50);
    padding-bottom: ptr(30);
    .titleNews {
      font-weight: 700;
      font-size: ptr(20);
      line-height: ptr(28);
      color: #2873aa;
      display: block;
      margin-bottom: ptr(10);
    }
    .date {
      width: 100%;
      font-size: ptr(14);
      line-height: ptr(24);
      border-bottom: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      padding-bottom: ptr(10);
      margin-bottom: ptr(15);
      gap: ptr(10);
    }
    .des {
      margin-bottom: ptr(15);
      font-weight: 700;
      color: #000;
    }
    .noidung {
    }
  }
  .otherNews {
    .group {
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(36, 65, 131, 0.1);
      padding: ptr(12);
      .item {
        padding-bottom: ptr(10);
        &:not(:last-child) {
          margin-bottom: ptr(10);
          border-bottom: 1px solid rgba(40, 115, 170, 0.2);
        }
        .name {
          font-weight: 600;
          display: block;
          margin-bottom: ptr(10);
        }
        .dateView {
          display: flex;
          align-items: baseline;
          gap: ptr(50);
          color: #2873aa;
          font-style: italic;
        }
      }
    }
  }
}
.formFilter {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(36, 65, 131, 0.1);
  padding: ptr(12) ptr(18);
  .item {
    .text {
      font-weight: 600;
      margin-bottom: ptr(8);
    }
    padding-bottom: ptr(15);
    &:not(:last-child) {
      margin-bottom: ptr(10);
      border-bottom: 1px dashed rgba(40, 115, 170, 0.2);
    }
  }
}
.tabs {
  .tab:not(.active) {
    display: none;
  }
  .commonTitle.tab-links {
    list-style: none;
    align-items: flex-end;
    li {
      border-bottom: 4px solid #2873aa;
      min-height: ptr(36);
      display: flex;
      align-items: center;
      &:not(.active) {
        border-color: transparent;
      }
    }
  }
}
